:root {
  --color-primary: #28282a;
  --color-secondary: #ff8552;
  --color-light: #e6e6e6;
  --color-dark: #090c08;
  --card-background: #f7f7f7;
  --wrapper-width: 90%;
  --wrapper-margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  /* Using CSS Variable */
  margin: 0;
  padding: 0;
  /* Using CSS Variable */
  background-color: var(--color-primary);
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  /* Using CSS Variable */
  color: var(--color-dark);
}

/* Header and nav flex container */
.name-n-nav {
  display: flex;
  justify-content: space-between;
}

/* removed margins and added styling */
h1 {
  margin: 0;
  color: var(--color-primary);
  font-size: 2rem;
  /* Using CSS Variable */
  text-shadow: 1px 0.5px 0px var(--color-secondary);
}

/* added margins so nav can be aligned with h1  */
nav {
  margin-top: 0.75rem;
}

header nav ul {
  list-style: none;
  padding-bottom: 2rem;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

header nav ul li a {
  /* Selector combo */
  text-decoration: none;
  /* Using CSS Variable */
  color: var(--color-dark);
  font-weight: bold;
}

header nav ul li a:hover {
  /* Pseudo-class */
  /* Using CSS Variable */
  color: var(--color-secondary);
}

header nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  /* Using CSS Variable */
  color: var(--color-primary);
  text-align: center;
  font-size: 2rem;
  /* Using CSS Variable */
  text-shadow: 1px 0.5px 0px var(--color-secondary);
}

h1::before {
  /* Pseudo-element */
  content: "Who is ";
}

h1::after {
  /* Pseudo-element */
  content: "?";
}

/* about me section parent container */
.shaina-bio-contact {
  display: flex;
  justify-content: space-between;
}

/* about bio and contact */
#parent-about-contact {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

img {
  display: block;
  /* Using CSS Variable */
  margin: var(--wrapper-margin);
  width: 40%;
}

#wrapper {
  /* Using CSS Variable */
  width: var(--wrapper-width);
  /* Using CSS Variable */
  margin: var(--wrapper-margin);
  padding: 20px;
  /* Using CSS Variable */
  border: 2px solid var(--color-secondary);
  /* Using CSS Variable */
  background-color: var(--color-light);
  border-radius: 1rem;
  /* Using CSS Variable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.linkedin {
  text-decoration: none;
  /* Using CSS Variable */
  margin: var(--wrapper-margin);
  display: block;
  /* Using CSS Variable */
  color: var(--color-primary);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.linkedin:hover {
  /* Using CSS Variable */
  color: var(--color-secondary);
}

/* parent wrapper 100% width */
#contact {
  width: 100%;
}

.button {
  display: block;
  font-size: 1rem;
  /* Using CSS Variable */
  background-color: var(--color-primary);
  /* Using CSS Variable */
  color: var(--color-light);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  /* Using CSS Variable */
  margin: auto;
}

.button:hover {
  /* Pseudo-class */
  /* Using CSS Variable */
  color: var(--color-secondary);
}

.photo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-card p {
  margin-top: 10px;
}

.photo-card {
  border: 1px var(--color-secondary) solid;
  background-color: var(--card-background);
}

/* Pseudo-element */
.photo-card:nth-child(1) p::after {
  content: " 💍";
}
/* Pseudo-element */
.photo-card:nth-child(2) p::after {
  content: " 💕";
}
/* Pseudo-element */
.photo-card:nth-child(3) p::after {
  content: " 💙";
}
/* Pseudo-element */
.photo-card:nth-child(4) p::after {
  content: " 📸";
}
/* Pseudo-element */
.photo-card:nth-child(5) p::after {
  content: " 🎮";
}
/* Pseudo-element */
.photo-card:nth-child(6) p::after {
  content: " 🎥";
}

#facts {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* Using CSS Variable */
  margin: var(--wrapper-margin);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.social-links img {
  width: 36px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.3);
}

.social-links {
  overflow: visible;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
